//Blog post pages

.blog-post-box {
  @include box($margin: 2rem 16rem);
  @media screen and (max-width: 1200px) {
      margin: 1rem 10rem;
    }
  
  @media screen and (max-width: 800px) {
      margin: 0 5rem;
    }
  
  @media screen and (max-width: 600px) {
      margin: 0 1rem;
    }
  h1 {
    text-align: center;
  }
}

.text-blog {
  @extend .text-about;
}

.blog-post-img {
  margin-bottom: 15px;
  border-radius: 15px;
  width: 75%;
  @media screen and (max-width: 600px){
    width: 95%;
  }
}

.category-date-blogpost {
  @extend .category-date;
  font-size: 1em;
  display: inline;
  align-self: flex-end;
  margin: 10px 0;
}

//Blog posts navigation

.blog-nav {
  @extend .nav-socials;
  @extend .blog-box;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  // arrows
  img {
    background-color: $base-light-color;
    @include base-border;
    border-radius: 10px;
    &:hover {
      filter: invert(1) sepia(1) hue-rotate(270deg) drop-shadow(2px 2px 2px $base-dark-color);
    }
  }
  // Button
  .back-button {
    @include button;
    align-self: center;
    justify-self:center;
    // margin-top: 2rem;
    @media screen and (max-width: 800px) {
      font-size: 15px;
    }
    @media screen and (max-width: 330px) {
      font-size: 12px;
      margin: 0.7em 0;
      height: 6vh;
    }
  }
}