//Background for all pages 
body {
  background-image: url("../images/bg.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

// Main content container on most of the pages
.box {
  @include base-text;
  @include box;
}

footer {
  height: 17vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  @include base-text($font-size: 13px);
  p {
    display: inline;
    float: right;
    height: 1.5em;
    padding: 0.2em 0.2em 0 0.2em;
    background-color: $text-bg-color;
    border-radius: 10px;
  }
}