//Contact page

.contact-box {
  @include box($margin:2rem  16rem);
  @include base-text;
  height: 70vh;
  @media screen and (max-width: 1200px) {
    margin: 1rem 10rem 2rem 10rem;
  }

  @media screen and (max-width: 800px) {
    margin: 0 5rem 2.5rem 5rem;
  }

  @media screen and (max-width: 700px) {
    margin: 0 2rem 2rem 2rem;
  }
}

.form-contents {
  @include base-text;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  label {
    display: inline-block;
    width: fit-content;
    padding: 0.2em 0.2em;
    border-radius: 7px;
    background-color: $text-bg-color
  }
  input {
    height: 2em;
    &::placeholder {
      @include base-text;
      color: #bbb8b8;
    }
  }
  textarea::placeholder {
    @include base-text;
    color: #bbb8b8;
  }
  @media screen and (max-width: 1000px) {
    width: 80%;
  }
  @media screen and (max-width: 700px) {
    width: 85%;
  }
}

//These are form sections in each separate container
.contact-name, .contact-message, .contact-email, .contact-submit {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.submit-button {
  @include button($background-color:#3f4064);
  @include base-text($font-weight:bold);
  color: $base-light-color;
  &:hover {
    color: #141439;
  }
}

// Container with just the submit button to make it centered relative to the whole form
.contact-submit {
  display: flex;
  align-items: center;
}