//Contact page

.contact-box {
  @include box($margin: 2rem 5rem);
  @include base-text;
  height: 70vh;
}

.form-contents {
  @include base-text;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  label {
    padding-bottom: 10px;
  }
  input {
    height: 2em;
    &::placeholder {
      @include base-text;
      color: #bbb8b8;
    }
  }
  textarea::placeholder {
    @include base-text;
    color: #bbb8b8;
  }
}

//These are form sections in each separate container
.contact-name, .contact-message, .contact-email, .contact-submit {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.submit-button {
  @include button($background-color:#3f4064);
  @include base-text($font-weight:bold);
  color: $base-light-color;
  &:hover {
    color: #141439;
  }
}

// Container with just the submit button to make it centered relative to the whole form
.contact-submit {
  display: flex;
  align-items: center;
}