//Index page

.main-text {
  @include box($margin: 1rem 1rem 3rem 1rem);
  @include base-text;
  height: 70vh;

  h1, h2 {
    text-align: center;
  }
}

.works-button {
  @include button;
   margin-top: 1.5rem;
   @media screen and (max-width: 600px) {
    font-size: 15px;
  }
}