@mixin color-box() {
  text-align: center;
  border: none;
  border-radius: 15px;
	width: 300px;
	margin: 5px;
	padding: 20px;
	display: inline-block;
}

@mixin base-text ($font-size: 18px, $font-weight: 400, $color: #141439) {
  font-family: "Lato", sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: 0.04em;
  line-height: 1.5em;
  color: $color;
}

@mixin heading ($font-size: 2.5em, $font-weight: bold, $color: #141439) {
  font-family: "Quicksand", sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: 0.05em;
  color: $color;
}

@mixin form-items-padding {
  padding-bottom: 10px;
}

@mixin base-border {
  border-right: 1px dotted $dirty-purple;
  border-bottom: 1px dotted $dirty-purple;
}

@mixin button($background-color: $dirty-purple) { 
    @include heading($font-size: 1em, $font-weight: bold, $color: #ffeefa);
    border-radius: 10px;
    border: 1px solid  #3f4064;
    height: 2rem;
    width: fit-content;
    background-color: $background-color;

    &:hover {
      background-color: white;
      transition: 0.5s;
      transform: translateY(-2px);
      box-shadow: 2px 2px 2px #aaaaaa;
      border: 1px solid $base-dark-color;
    }

    a {
      color: white;
      font-size: 1.20em;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        color: $base-dark-color;
        font-size: 1.20em;
        text-decoration: none;
      }
    }
}

@mixin box($margin: 2rem 16rem) {
  margin: $margin;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

@mixin loose-link ($font-size: 20px) {
  @include base-text($font-weight: bold);
  font-size: $font-size;
  text-decoration: none;
  color: $blue;
  &:hover {
    text-decoration: underline;
    color: rgb(97, 0, 141);
  }
}