// Main navigation bar

.nav-header {
  @include base-text;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  margin: 0.5em 1.5em;
}

// Social networking icons
.nav-socials {
  display: flex;
  a:hover {
    transition: 0.3s;
    transform: translateY(-5px);
    filter: drop-shadow(2px 2px #aaaaaa);
  }
  img {
    width: 50px;
    padding: 0;
    margin: 0;
  }
}

// Navigation menu - desktop
.menu {
  width: 65%;
  margin-top: 1rem;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    clear: right;
    color:  #141439;
    text-decoration: none;
    padding-right: 1rem;
    font-size: 1.20em;
    &:hover{
      color: white;
      transition: 0.3s;
      transform: translateY(-2px);
      text-shadow: 1px 1px whitesmoke, 0 0 25px rgb(255, 0, 183), 0 0 5px #141439;
      // text-shadow: 1px 1px #3f4064;
      transition-timing-function: ease-out;
    }
  }
}

// Hamburger menu

label {
  width: 26px;
  float: right;
  margin: 0 0.5rem 0 0;
  font-size: 26px;
  line-height: 1.5rem;
  display: none;
}

#toggle {
  display: none;
}

#toggle:checked + .menu-items {
  display: block;
}

@media only screen and (max-width: 800px) {
    .menu-items {
      position: fixed;
      left: 0;
      top: 0;
      opacity: 1;
      // z-index: 10;
      background-color: $base-light-color;
      text-align: center;
      height: 70%;
      width: 100%;
      display: none;
      a {
        display: block;
        border-bottom: 1px dotted $dirty-purple;
        padding: 1rem;
      }
  }
  label {
    display: block;
    position: relative;
    z-index: 11;
    cursor: pointer;
  }
}

