// Main navigation bar

.nav-header {
  @include heading($font-size: 1.2em, $font-weight: 500);
  display: flex;
  height: 10vh;
  justify-content: space-between;
  margin: 0.5em 1.5em;
}

// Social networking icons
.nav-socials {
  display: flex;
  a:hover {
    transition: 0.3s;
    transform: translateY(-5px);
    filter: drop-shadow(2px 2px #aaaaaa);
  }
  img {
    width: 50px;
    padding: 0;
    margin: 0;
    @media screen and (max-width: 850px) {
      width: 40px;
      margin-top: 0.2em;
    }
    @media screen and (max-width: 300px) {
      width: 27px;
      margin-top: 0.7em;
    }
  }
}

// Navigation menu
.menu {
  width: 65%;
  margin-top: 1rem;
  // Hamburger menu icon
  label {
    color: $base-dark-color;
    width: 26px;
    float: right;
    margin: 0 0.5rem 0 0;
    font-size: 26px;
    line-height: 1.5rem;
    display: none;
    @media only screen and (max-width: 720px) {
      display: block;
      position: relative;
      z-index: 11;
      cursor: pointer;
    }
  }  
}

.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    clear: right;
    color:  #141439;
    text-decoration: none;
    padding-right: 1rem;
    font-size: 1.20em;
    &:hover{
      color: white;
      transition: 0.3s;
      transform: translateY(-2px);
      text-shadow: 1px 1px whitesmoke, 0 0 25px rgb(255, 0, 183), 0 0 5px #141439;
      transition-timing-function: ease-out;
    }
    @media screen and (max-width: 850px) {
      font-size: 1em;
    }
  }

  // .current-page-link { 
  //   color: rgb(255, 0, 183)
  // }

  // Drop down menu on smaller screens
  @media only screen and (max-width: 720px) {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 10;
      background-color: #fdfcfd;
      text-align: center;
      width: 100%;
      display: none;
      a {
        display: block;
        padding: 1rem;
        margin-top: 1rem;
        color: $base-dark-color;
      }
  }
}

#toggle {
  display: none;
}

#toggle:checked + .menu-items {
  display: block;
}