//Resume page

.resume-box {
  @include box($margin: 2rem 16rem);

  @media screen and (max-width: 1200px) {
      margin: 1rem 10rem;
    }
  
  @media screen and (max-width: 800px) {
      margin: 0 5rem;
    }
  
  @media screen and (max-width: 600px) {
      margin: 0 2rem;
    }
}

.skills-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  margin-bottom: 0.5em;
  img {
    width: 50px;
    height: 45px;
    margin-left: 0.3em;
    @media screen and (max-width: 900px) {
      width: 40px;
      height: 35px;
    }
  }
}

#rails {
  width: 7rem;
  @media screen and (max-width: 900px) {
    width: 6rem;
  }
}

// Buttons
.resume-button {
  @include button;
  @include base-text($font-weight:bold);
  margin-top: 0.5rem;
  @media screen and (max-width: 600px) {
    font-size: 15px;
  }
}

.getintouch-button {
  @include base-text;
  @include button;
  margin-bottom: 1rem;
  @media screen and (max-width: 600px) {
    font-size: 15px;
  }
}