@import "normalize.css";
.main-text {
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin: 1rem 1rem 3rem 1rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  height: 70vh;
}
.main-text h1, .main-text h2 {
  color: #141439;
  text-align: center;
}

.works-button {
  border-radius: 10px;
  border: 1px solid #3f4064;
  height: 2rem;
  width: fit-content;
  background-color: #141439;
  margin-top: 1.5rem;
}
.works-button:hover {
  background-color: #ffeefa;
  transition: 0.5s;
  transform: translateY(-2px);
  box-shadow: 2px 2px 2px #aaaaaa;
  border: 1px solid #141439;
}
.works-button a {
  color: #ffeefa;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}
.works-button a:hover {
  color: #141439;
  font-size: 1.2em;
  text-decoration: none;
}

.blog-box {
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin: 2rem 5rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .blog-box {
    margin: 0 2rem;
  }
}

.blog-previews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.blog-previews img {
  width: 400px;
  margin: 1rem;
  border-radius: 15px;
}
@media screen and (max-width: 1030px) and (min-width: 820px) {
  .blog-previews img {
    width: 300px;
  }
}
@media screen and (max-width: 819px) and (min-width: 720px) {
  .blog-previews img {
    width: 270px;
  }
}
@media screen and (max-width: 470px) and (min-width: 300px) {
  .blog-previews img {
    width: 240px;
  }
}

.preview {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 430px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  margin-bottom: 15px;
}
.preview:hover {
  opacity: 0.85;
  background-color: rgba(255, 238, 250, 0.9);
}
@media screen and (max-width: 1030px) and (min-width: 820px) {
  .preview {
    width: 330px;
  }
}
@media screen and (max-width: 819px) and (min-width: 720px) {
  .preview {
    width: 300px;
  }
}
@media screen and (max-width: 470px) and (min-width: 300px) {
  .preview {
    width: 270px;
  }
}
.preview h2 {
  margin: 5px 20px 15px 20px;
}
@media screen and (max-width: 1030px) {
  .preview h2 {
    font-size: 1.3em;
  }
}
.preview p {
  margin: 5px 20px 15px 20px;
}
.preview a {
  text-decoration: none;
  color: #141439;
}

.category {
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #f6e2fe;
  background-color: #3f4064;
  border: 1px dotted #ffeefa;
  border-radius: 7px;
  padding: 0 0.2em;
}
@media screen and (max-width: 1030px) and (min-width: 820px) {
  .category {
    font-size: 1em;
  }
}
@media screen and (max-width: 819px) and (min-width: 720px) {
  .category {
    font-size: 0.85em;
  }
}
@media screen and (max-width: 719px) and (min-width: 300px) {
  .category {
    font-size: 0.8em;
  }
}

.category-date, .category-date-blogpost {
  text-align: right;
}

.blog-post-img {
  margin-bottom: 15px;
  border-radius: 15px;
}

.category-date-blogpost {
  display: inline;
  align-self: flex-end;
  margin: 10px 0;
}

.blog-nav {
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin: 2rem 16rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.blog-nav img {
  background-color: white;
  border-radius: 10px;
}
.blog-nav img:hover {
  filter: invert(1) sepia(1) hue-rotate(270deg) drop-shadow(2px 2px 2px #141439);
}

.nav-header {
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  margin: 0.5em 1.5em;
}

.nav-socials, .blog-nav {
  display: flex;
}
.nav-socials a:hover, .blog-nav a:hover {
  transition: 0.3s;
  transform: translateY(-5px);
  filter: drop-shadow(2px 2px #aaaaaa);
}
.nav-socials img, .blog-nav img {
  width: 50px;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 850px) {
  .nav-socials img, .blog-nav img {
    width: 40px;
    margin-top: 0.2em;
  }
}

.menu {
  width: 65%;
  margin-top: 1rem;
}
.menu label {
  width: 26px;
  float: right;
  margin: 0 0.5rem 0 0;
  font-size: 26px;
  line-height: 1.5rem;
  display: none;
}
@media only screen and (max-width: 720px) {
  .menu label {
    display: block;
    position: relative;
    z-index: 11;
    cursor: pointer;
  }
}

.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-items a {
  clear: right;
  color: #141439;
  text-decoration: none;
  padding-right: 1rem;
  font-size: 1.2em;
}
.menu-items a:hover {
  color: white;
  transition: 0.3s;
  transform: translateY(-2px);
  text-shadow: 1px 1px whitesmoke, 0 0 25px #ff00b7, 0 0 5px #141439;
  transition-timing-function: ease-out;
}
@media screen and (max-width: 850px) {
  .menu-items a {
    font-size: 1em;
  }
}
@media only screen and (max-width: 720px) {
  .menu-items {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: #ffeefa;
    text-align: center;
    width: 100%;
    display: none;
  }
  .menu-items a {
    display: block;
    padding: 1rem;
    margin-top: 1rem;
  }
}

#toggle {
  display: none;
}

#toggle:checked + .menu-items {
  display: block;
}

body {
  background-image: url("../images/bg.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.about-box {
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin: 2rem 16rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

footer {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: "Quicksand";
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.05em;
}
footer p {
  display: inline-block;
  height: 1.5em;
  padding: 0.2em 0.2em 0 0.2em;
  margin: 0 1rem 1rem 0;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 7px;
}

.contact-box {
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin: 2rem 16rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  height: 70vh;
}
@media screen and (max-width: 1200px) {
  .contact-box {
    margin: 1rem 10rem 2rem 10rem;
  }
}
@media screen and (max-width: 800px) {
  .contact-box {
    margin: 0 5rem 2.5rem 5rem;
  }
}
@media screen and (max-width: 700px) {
  .contact-box {
    margin: 0 2rem 2rem 2rem;
  }
}

.form-contents {
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
}
.form-contents label {
  display: inline-block;
  width: fit-content;
  padding: 0.2em 0.2em;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.85);
}
.form-contents input {
  height: 2em;
}
.form-contents input::placeholder {
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #bbb8b8;
}
.form-contents textarea::placeholder {
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #bbb8b8;
}
@media screen and (max-width: 1000px) {
  .form-contents {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .form-contents {
    width: 85%;
  }
}

.contact-name, .contact-message, .contact-email, .contact-submit {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.submit-button {
  border-radius: 10px;
  border: 1px solid #3f4064;
  height: 2rem;
  width: fit-content;
  background-color: #3f4064;
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #ffeefa;
}
.submit-button:hover {
  background-color: #ffeefa;
  transition: 0.5s;
  transform: translateY(-2px);
  box-shadow: 2px 2px 2px #aaaaaa;
  border: 1px solid #141439;
}
.submit-button a {
  color: #ffeefa;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}
.submit-button a:hover {
  color: #141439;
  font-size: 1.2em;
  text-decoration: none;
}
.submit-button:hover {
  color: #141439;
}

.contact-submit {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 2rem;
}
@media screen and (max-width: 800px) {
  .profile-pic {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 600px) {
  .profile-pic {
    width: 200px;
    height: 200px;
  }
}

.about-box {
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin: 2rem 16rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .about-box {
    margin: 1rem 10rem;
  }
}
@media screen and (max-width: 800px) {
  .about-box {
    margin: 0 5rem;
  }
}
@media screen and (max-width: 600px) {
  .about-box {
    margin: 0 2rem;
  }
}

.text-area {
  font-family: "Quicksand";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.05em;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 0.01em 1em;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.text-area p {
  margin: 0.5em;
}
@media screen and (max-width: 600px) {
  .text-area p {
    font-size: 18px;
  }
}
.text-area button {
  align-self: center;
}
.text-area a {
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: 20px;
  text-decoration: none;
  color: #4359bd;
}
.text-area a:hover {
  text-decoration: underline;
  color: #61008d;
}
@media screen and (max-width: 600px) {
  .text-area a {
    font-size: 18px;
  }
}

.link-button {
  border-radius: 10px;
  border: 1px solid #3f4064;
  height: 2rem;
  width: fit-content;
  background-color: #141439;
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-top: 2rem;
}
.link-button:hover {
  background-color: #ffeefa;
  transition: 0.5s;
  transform: translateY(-2px);
  box-shadow: 2px 2px 2px #aaaaaa;
  border: 1px solid #141439;
}
.link-button a {
  color: #ffeefa;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}
.link-button a:hover {
  color: #141439;
  font-size: 1.2em;
  text-decoration: none;
}

.resume-box {
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin: 2rem 16rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .resume-box {
    margin: 1rem 10rem;
  }
}
@media screen and (max-width: 800px) {
  .resume-box {
    margin: 0 5rem;
  }
}
@media screen and (max-width: 600px) {
  .resume-box {
    margin: 0 2rem;
  }
}

.skills-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  margin-bottom: 0.5em;
}
.skills-icons img {
  width: 50px;
  height: 45px;
  margin-left: 0.3em;
}
@media screen and (max-width: 900px) {
  .skills-icons img {
    width: 40px;
    height: 35px;
  }
}

#rails {
  width: 7rem;
}
@media screen and (max-width: 900px) {
  #rails {
    width: 6rem;
  }
}

.resume-button {
  border-radius: 10px;
  border: 1px solid #3f4064;
  height: 2rem;
  width: fit-content;
  background-color: #141439;
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-top: 0.5rem;
}
.resume-button:hover {
  background-color: #ffeefa;
  transition: 0.5s;
  transform: translateY(-2px);
  box-shadow: 2px 2px 2px #aaaaaa;
  border: 1px solid #141439;
}
.resume-button a {
  color: #ffeefa;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}
.resume-button a:hover {
  color: #141439;
  font-size: 1.2em;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .resume-button {
    font-size: 15px;
  }
}

.getintouch-button {
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  border-radius: 10px;
  border: 1px solid #3f4064;
  height: 2rem;
  width: fit-content;
  background-color: #141439;
  margin-bottom: 1rem;
}
.getintouch-button:hover {
  background-color: #ffeefa;
  transition: 0.5s;
  transform: translateY(-2px);
  box-shadow: 2px 2px 2px #aaaaaa;
  border: 1px solid #141439;
}
.getintouch-button a {
  color: #ffeefa;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}
.getintouch-button a:hover {
  color: #141439;
  font-size: 1.2em;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .getintouch-button {
    font-size: 15px;
  }
}

.projects-box {
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin: 2rem 16rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}

.project-preview-odd, .project-preview-even {
  height: 315px;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  margin-bottom: 1rem;
  padding: 1rem 1rem;
}
.project-preview-odd img, .project-preview-even img {
  width: 500px;
  overflow: hidden;
  margin: 0 0.5rem;
  border-radius: 15px;
}
.project-preview-odd img:hover, .project-preview-even img:hover {
  opacity: 0.85;
}
.project-preview-odd a, .project-preview-even a {
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: 20px;
  text-decoration: none;
  color: #4359bd;
}
.project-preview-odd a:hover, .project-preview-even a:hover {
  text-decoration: underline;
  color: #61008d;
}
.project-preview-odd #portfolio-image:hover, .project-preview-even #portfolio-image:hover {
  opacity: 0.75;
}

.project-preview-even {
  flex-direction: row-reverse;
}

.text-description {
  height: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1rem;
}

.heading-icons {
  display: inline;
}

.project-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: flex-start;
}
.project-icons img {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.3em;
}
.project-icons img:hover {
  opacity: inherit;
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/quicksand/v21/6xKtdSZaM9iE8KbpRA_hK1QNYuDyPw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Quicksand";
  font-style: bold;
  font-weight: 618;
  src: url(https://fonts.gstatic.com/s/quicksand/v21/6xKtdSZaM9iE8KbpRA_hK1QNYuDyPw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*# sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.css.map */
