@import "normalize.css";
@import "external-fonts";
@import "mixins";
@import "variables";

body {
  background-image: url("../images/bg.jpg");
  background-color: $base-light-color;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.box {
  @include base-text;
  margin: 2rem 16rem;
  border-radius: 15px;
  // width: 130vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

// Navigation

.nav-header {
  @include base-text;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  margin: 0.5em 1.5em;
}

.nav-socials {
  display: flex;

  a:hover {
    transition: 0.3s;
    transform: translateY(-2px);
    filter: drop-shadow(1px 2px #aaaaaa);
  }

  img {
    width: 50px;
    padding: 0;
    margin: 0;
  }
}

.nav-items {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color:  #141439;
    text-decoration: none;
    padding-right: 1rem;
    font-size: 1.20em;
    // border-right: 0.5px dotted #141439;
  }
  
  a:hover {
      color: white;
      transition: 0.3s;
      transform: translateY(-2px);
      text-shadow: 1px 1px whitesmoke, 0 0 25px rgb(255, 0, 183), 0 0 5px #141439;
      // text-shadow: 1px 1px #3f4064;
      transition-timing-function: ease-out;
  }
}

.main-text {
  @include base-text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.works-button {
  @extend .link-button;
   margin-top: 1.5rem;
}

.works-button:hover {
  @include button-hover;
}

// h2 {
//   background-color: rgba(255, 255, 255, 0.75);
// }

h1, h2 {
  color: #141439;
}

//Contact page

.form-contents {
  @include base-text;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80vh;
}

.form-contents label {
  padding-bottom: 10px;
}

.form-contents input {
  height: 2em;
}

.contact-name, .contact-message, .contact-email, .contact-submit {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.submit-button {
  @include base-text($font-weight: bold);
  border-radius: 10px;
  border: 1px solid #3f4064;
  height: 2rem;
  width: fit-content;
  background-color: #3f4064;
  color: $base-light-color;
}

.submit-button:hover {
  background-color: $base-light-color;
  color: #141439;
  transition: 0.5s;
  transform: translateY(-2px);
  box-shadow: 2px 2px 2px #aaaaaa;
  border: 1px solid #141439;
}

.contact-submit {
  display: flex;
  align-items: center;
}

input::placeholder {
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #bbb8b8;
}

textarea::placeholder {
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #bbb8b8;
}

//About me

.profile-pic {
  // position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.text-area {
  @include base-text($font-size:20px);
  background-color: rgba(255, 255, 255, 0.85);
  // margin-bottom: 1rem;
  padding: 0.01em 1em;
  display: flex;
  flex-direction: column;
  border-radius: 15px;

  p {
    margin: 0.5em;
  }

  button {
    align-self: center;
  }
}

.link-button {
  @include button;
  @include base-text($font-weight:bold);
}

.link-button:hover {
  @include button-hover;
}

//Resume

.skills-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  img {
    width: 50px;
    height: 45px;
    margin-left: 0.3em;
  }
}

#rails {
  width: 7rem;
}

//Blog

.blog-box {
  @extend .box;
  margin: 2rem 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  img {
    width: 400px;
    margin: 1rem;
    border-radius: 15px;
  }
}

.blog-previews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  img {
    width: 400px;
    margin: 1rem;
    border-radius: 15px;
  }
}

.preview {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 65vh;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  margin-bottom: 15px;
  p, h2 {
    margin: 5px 20px 15px 20px;
    color: $base-dark-color;
  }
  a {
    text-decoration: none;
    color: $base-dark-color;
  }
}

.preview:hover {
  opacity: 0.9;
  background-color:rgba(255,238,250, 0.9);
}

.category {
  @include base-text($font-weight:bold);
  color: #f6e2fe;
  background-color: #3f4064;
  border: 1px dotted $base-light-color;
  border-radius: 7px;
}

.category-date {
  text-align: right;
}

// Blog posts

.blog-post-img {
  margin-bottom: 15px;
  border-radius: 15px;
}

.category-date-blogpost {
  @extend .category-date;
  display: inline;
  align-self: flex-end;
  margin: 10px 0;
}

//blog-navigation

.blog-nav {
  @extend .nav-socials;
  @extend .box;
  flex-direction: row;
  justify-content: space-evenly;

  img {
    background-color: white;
    border-radius: 10px;
  }

  img:hover {
    filter: invert(1) sepia(1) hue-rotate(270deg) drop-shadow(2px 2px 2px $base-dark-color);
  }
}

