@import "normalize.css";

body {
  background-image: url("../images/bg.jpg");
  background-color: #ffeefa;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   }

// Navigation

.nav-header {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  margin: 0.5em 1.5em;
}

.nav-socials img {
  width: 50px;
  padding: 0;
  margin: 0;
}

.nav-socials {
  display: flex;

  a:hover {
    transition: 0.3s;
    transform: translateY(-2px);
    filter: drop-shadow(1px 2px #aaaaaa);
    // box-shadow: 2px 2px 2px #aaaaaa;
  }
}

.nav-items {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color:  #141439;
    text-decoration: none;
    padding-right: 1rem;
    font-size: 1.20em;
    // border-right: 0.5px dotted #141439;
  }
  
  a:hover {
      color: white;
      transition: 0.3s;
      transform: translateY(-2px);
      text-shadow: 1px 1px whitesmoke, 0 0 25px rgb(255, 0, 183), 0 0 5px #141439;
      // text-shadow: 1px 1px #3f4064;
      transition-timing-function: ease-out;
  }
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.works-button {
  border-radius: 10px;
  border: 1px solid  #3f4064;
  height: 2rem;
  width: fit-content;
  background-color:#141439;
  margin-top: 1.75rem;

  a {
    color: #ffeefa;
    font-size: 1.20em;
    text-decoration: none;
  }

}

.works-button:hover {
  background-color: #ffeefa;
  transition: 0.5s;
  transform: translateY(-2px);
  box-shadow: 2px 2px 2px #aaaaaa;
  border: 1px solid #141439;
  
  a {
    color:#141439;
    font-size: 1.20em;
    text-decoration: none;
  }

}

h2 {
  background-color: rgba(255, 255, 255, 0.75);
}

h1, h2 {
  color: #141439;
}